

.card .front {
  width: 75vw;
   height: 30vw;
  position: relative;

   border-radius: 20px;
}


 /* .front {
  background: rgb(250, 251, 252);
  border-radius: 20px;
  border-color: rgb(59, 58, 58);
}

 .back {
  background: rgb(86, 240, 150);
  border-radius: 20px;

 } */

 /* .card.is-flipped {
  transform: rotateY(180deg);
} */
.btn:hover {color: white;
  font-family: "raleway", sans-serif;
  background-color: rgb(21, 97, 102);
  transform: scale(1.1);
  transition: .5s;}
  
  .btn {
      background-color: transparent;
      border-color: rgb(47, 71, 73);
      background-color: rgba(58, 138, 125, 0.452);
      color: white;
      font-size: 20px;
      text-shadow: 1px 1px rgb(54, 54, 54);
      font-family: "raleway", sans-serif;
      transform: scale(1);
      transition: 1s;
  }

h1, h2, h3, h4 {color: white;
                text-shadow: 1px 1px rgb(60, 61, 61);
                font-family: 'Raleway', sans-serif;
  }

  .btn:hover {color: white;
    font-family: "roboto", sans-serif;
    background-color: #74B3BB;
    transform: scale(1.1);
    transition: .5s;}
    
    .btn {
        background-color: transparent;
        border-color: #74B3BB;
        background-color: rgba(120, 152, 183, 0.473);
        color: white;
        font-size: 13px;
        text-shadow: 1px 1px rgb(54, 54, 54);
        font-family: "roboto", sans-serif;
        transform: scale(1);
        transition: 1s;
    }

    body {background-image: url("../../images/giaBackground.jpg");
      background-size: cover;
      background-position: center;
      background-attachment: fixed;}
#imgLogo {
    width: 500px;
    padding-top: 10px;
}

#backSide {
    padding: .7vw;
    margin-block-start: .7vw;
    margin-block-end: .7vw;
   
} 
#frontOfCard {margin-left: auto;
              margin-right: auto;
              display: block;
              width: 80vw;
              height: 40vw;
              font-family: "roboto", sans-serif;
              background-color:transparent;
              border-style: 2px;
              border-color: darkslategrey;
              border-radius: 25px;
              
              }

#backOfCard {margin-left: auto;
            margin-right: auto;
            display: block;
            width: 100%;
            height: 100%;
            color: white;
            font-family: "roboto", sans-serif;
            text-shadow: 1px 1px rgb(53, 57, 61);
            background-image: linear-gradient(-90deg, rgba(93, 232, 241, 0.459), rgba(90, 253, 204, 0.377));;
            border-style: 2px;
            border-color: rgb(156, 177, 177);
            border-style: outset;
            border-width: 2px;
            border-radius: 25px;
        }
    .backContent {margin: auto;}

    .nav-item {color: white;}
    #firstNav a {color: rgb(214, 252, 220);}
    #replaceNav a {color: rgb(214, 252, 220);}
    
  